
@{
    ViewData["Title"] = "Index";
}

<h1>SI Form</h1>
<form action="/SI/Calc" method="post">
    <p><input type="text" name="txtp" placeholder="Enter P" /></p>
    <p><input type="text" name="txtr" placeholder="Enter R" /></p>
    <p><input type="text" name="txtt" placeholder="Enter T" /></p>
    <p><input type="submit" name="btnsubmit" value="Calculate" /></p>

</form>

